:root {
	background-color: #101010;
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0 solid;
	user-select: none;
}

#ccwsui-root {
	width: 100dvw;
	height: 100dvh;
	display: flex;
	touch-action: none;
}

.ccwsui-layout-tree-overlay {
	position: absolute;
	z-index: 998;
}

.ccwsui-layout-tree-title {
	display: none;
	position: absolute;
	color: white;
	padding: 2px;
	font: 12px monospace;
	z-index: 999;
	white-space: pre;
	pointer-events: none;
}

.ccwsui-layout-tree-overlay:hover {
	display: block;
}

.ccwsui-connection-status {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background: #36363a;
	color: #ffffff;
	padding: 24px 32px;
	border-radius: 12px;
	z-index: 9999;
	border: 2px solid #444448;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	max-width: 320px;
	text-align: center;
	text-wrap: pretty;
}
