@font-face {
	font-family: "CCWSUI";
	src: url("/static/font.ttf");
}

:root {
	--font-scale: 3;

	font-family: CCWSUI, sans-serif;
	font-size: calc(12px * var(--font-scale));
	line-height: calc(9px * var(--font-scale));
	--px: calc(1px * var(--font-scale));

	color: white;

	background-color: #101010;
	background-size: calc(var(--px) * 16);
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0 solid;
	image-rendering: pixelated;
	user-select: none;
}

button,
input,
select,
optgroup,
textarea,
::file-selector-button {
	font: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	letter-spacing: inherit;
	color: inherit;
	border-radius: 0;
	background-color: transparent;
	opacity: 1;
	outline: none;
}

#ccwsui-root {
	width: 100dvw;
	height: 100dvh;
	display: flex;
}
#ccwsui-hires {
	position: absolute;
	inset: 0;
}

[data-ccwsui] {
	width: fit-content;
}

[data-ccwsui="inputregion"] {
	caret-color: #ff000000;
	position: relative;
}

[data-ccwsui-shadow] {
	text-shadow: color-mix(in srgb, currentColor 25%, #000000) var(--px)
		var(--px);
}

.ccwsui-layout-tree-overlay {
	position: absolute;
	z-index: 998;
}

.ccwsui-layout-tree-title {
	display: none;
	position: absolute;
	color: white;
	padding: 2px;
	font: 12px monospace;
	z-index: 999;
	white-space: pre;
}

.ccwsui-layout-tree-overlay:hover + .ccwsui-layout-tree-title,
.ccwsui-layout-tree-title:hover {
	display: block;
}
